*{
    margin: 0;
    padding: 0;
}
.image {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}
.image img {
    width: 100%;
    object-fit: cover;
    height: inherit;
}


.container {
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonial h3 {
    margin: 20px 0 0 0;
    font-size: 20px;
}
.testimonial h4 {
color: gray;
}

.testimonials {
    width: 70%;
    display: flex;
    grid-gap: 30px;
    justify-content: space-between;
}
.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    width: 330px;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px 1px #0000002e;
}
.testimonial p {
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #b7b7b7;
}

.heading {
    width: 70%;
    margin: 0 0 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.heading h2 {
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    margin: 30px 0;
}
.heading p {
    width: 60%;
    text-align: center;
    color: gray;
    font-size: 20px;
}