*{
    margin: 0;
    padding: 0;
}
.image {
    width: 215px;
    height: 315px;
    overflow: hidden;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 50px 0;
}

figure.figure {
    border: 2px solid #dcd7d7;
    padding: 3px;
}

.figure figcaption {
    text-align: center;
    padding: 5px 0;
    background: #f4f4f4;
}

.images {
    display: flex;
    width: calc( 60% + 40px );
    justify-content: space-between;
}

.paragraph {
    width: calc( 60% + 40px );
    padding: 30px 0 30px 0;
    border-bottom: 2px solid #cdc8c8;
}

.paragraph p {
    text-align: center;
    font-size: 19px;
    color: #cdc8c8;
    line-height: 25px;
    font-family: serif;
}